:root { 
--green_300:#82b378; 
--bluegray_50:#ebf2f9; 
--black_900_b2:#000000b2; 
--red_400:#cc6144; 
--black_900_87:#00000087; 
--deep_orange_A700:#e53b07; 
--deep_purple_A201:#9c4df4; 
--deep_orange_500:#ff6529; 
--deep_purple_A200:#8434dc; 
--deep_orange_100:#fbc2aa; 
--teal_A700:#00b59b; 
--gray_900_26:#0a033c26; 
--gray_400:#c1ada4; 
--gray_401:#dbc4bd; 
--gray_802:#594c4a; 
--amber_500:#ffc107; 
--gray_800:#424242; 
--gray_801:#433735; 
--orange_600:#f9880d; 
--deep_orange_400_33:#ff665233; 
--black_900_0c:#0000000c; 
--orange_201:#ffb973; 
--orange_200:#eebc74; 
--bluegray_801:#3e4d59; 
--bluegray_800:#3e4756; 
--deep_purple_50:#ecdbff; 
--cyan_50:#e5fff3; 
--black_900_19:#00000019; 
--gray_52:#f9f9f9; 
--gray_51:#f8fffb; 
--green_200:#a8d29f; 
--gray_53:#fafafa; 
--red_300:#d97356; 
--deep_orange_400_87:#ff665287; 
--red_53:#ffeee9; 
--red_301:#bc744a; 
--red_51:#fff3f2; 
--red_52:#ffede9; 
--gray_50:#f8f2ff; 
--red_50:#fff0ec; 
--white_A700_33:#ffffff33; 
--deep_orange_800:#c95c12; 
--deep_orange_400_7f:#ff65517f; 
--deep_orange_401:#e58638; 
--deep_orange_400:#ff6652; 
--gray_700_99:#5d5a6f99; 
--yellow_100:#fff2ce; 
--gray_501:#9b8580; 
--gray_500:#969696; 
--gray_901:#1c1c1b; 
--gray_902:#232323; 
--gray_900:#0a033c; 
--gray_101:#f5f5f5; 
--gray_100:#f7f7f7; 
--bluegray_700:#455a64; 
--white_A700_b2:#ffffffb2; 
--deep_orange_A100:#ffb27d; 
--deep_orange_A101:#fca56b; 
--red_601:#e54935; 
--red_600:#e04d3a; 
--deep_purple_400:#8334db; 
--deep_orange_300:#fe8e68; 
--deep_orange_301:#eb996e; 
--red_A700:#c60000; 
--gray_600:#808080; 
--orange_A200:#ee9849; 
--lime_900:#874c2e; 
--gray_200:#ececec; 
--gray_201:#ebebeb; 
--blue_50:#e9f3fe; 
--indigo_400:#4a75cb; 
--bluegray_600:#516373; 
--blue_300:#699dee; 
--white_A700:#ffffff; 
--indigo_800:#1c468a; 
--red_500:#ff3333; 
--red_100:#eed9ce; 
--black_900:#000000; 
--black_902:#1a0400; 
--black_901:#170600; 
--deep_orange_200:#ffbe9d; 
--gray_700:#5d5a6f; 
--gray_301:#e0e0e0; 
--indigo_50:#d9e0fc; 
--gray_900_00:#0a023c00; 
--gray_701:#5a4f72; 
--bluegray_100:#d9d9d9; 
--amber_200:#ffdf7f; 
--gray_300:#dedde4; 
--orange_300:#ffb54a; 
--teal_A400:#07e5ca; 
--white_A700_87:#ffffff87; 
--bluegray_900:#283250; 
--black_900_cc:#000000cc; 
--bluegray_102:#d6ced7; 
--bluegray_101:#d7d7d7; 
--indigo_900:#163560; 
--bluegray_903:#263238; 
--bluegray_902:#2d2442; 
--bluegray_901:#3d302a; 
}